/* Main Background Color */


/*section#title * {
  color: whitesmoke;
}*/


/* NMBU Logo at bottom right corner */
/*
body:after {
    background-image: url(../../images/ihme_logo.png);
    background-repeat: no-repeat;
    position: fixed;
    width: 254px;
    height: 81px;
    z-index: 30;
    right: 120px;
    bottom: 8px;
    content: "";
}
*/

/* small text font color */

small {
    color: inherit!important;
}


/* Supervisors Text */

div#supervisor-title {
    margin-top: 50px;
    font-size: 0.8em;
    margin-bottom: 10px;
}

.supervisors {
    display: inline-block;
}


/* Class for no margin*/

section.nopad {
    height: 100%;
    top: 0;
    margin-top: 0;
}


/* Pull date down to bottom */

h3.date {
    margin-top: 50px;
    font-size: 0.9em;
}


/* Remove Borders from image */

.reveal section img {
    border: none;
    box-shadow: none;
    background-color: transparent;
}


/* Hide non-current-visible fragments */

@media screen {
    .fragment.current-display:not(.current-fragment) {
        display: none;
    }
}

@media print {
    #display-current-container {
        display: block;
        page-break-before: always!important;
    }
}


/* Keep middle vertically */

#middle-container {
    display: flex;
    justify-content: center;
}

#middle-content {
    align-self: center;
}


/* Title-Slide Font Color
.reveal .titleslide.has-light-background h1 {
    color: #117d6b;
}
 Invert Reference color
section#references h1 {
    color: #FAF7F6;
}*/
